body{
    border: 2px solid black;
    width: 20%;
    height: 1020px;
    margin-left: 3%;
}

img{
    width: 220px;
    height: 230px;
    padding: 0;
    margin: 0;
    margin-left: 55px;
    border: 5px;
    margin-top: 15px;
}
.icons{
    margin: 30px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border: 40px solid orange;
    border-bottom: 40px;
    
}
.text p{
    font-family: sans-serif;
    margin-left: 10px;
}
h1{
    font-size: 40px;
    margin-left: 55px;
}
p{
    margin-left: 30px;
}
skills , h2{
margin-left: 20px;
}


