.main {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, sans-serif;
}


.container {
    width: 280px;
    padding: 20px;
    border: 3px solid orange;
    /* border-radius: 10px; */
}

.img img {
    width: 100%;
}

.text h1 {
    font-size: 22px;
    line-height: 25px;
    margin: 10px 0 5px 0;
}

.as {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.icons a {
    font-size: 20px;
    color: orange;
}
.icon{
    font-size: 25px;
}
.pp {
    margin: 10px 0;
    font-size: 14px;
    border-bottom: 2px solid black;
}

.skills {
    margin-top: 10px;
    font-family : Arial, sans-serif;
}
.ss{
    border-bottom: 5px solid black;
    width: 30px;
}

.skills p, .skills span {
    font-size: 14px;
    margin: 2px 0;
}
.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name {
    font-size: 16px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar {
    height: 14px;
    background: #202020;
    border-radius: 3px;
}

.skill-per {
    height: 14px;
    background: orange;
    border-radius: 3px;
    position: relative;
  
}

.skill-per::before {

    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: #f1f1f1;
    top: -18px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 1px;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


.container2 {
    flex: 1;
    padding: 20px;
}

.scnd {
    font-size: 26px;
    margin-bottom: 10px;
    border-bottom: 5px solid orange;
    width: 30px;
}
.third{
    font-size: 26px;
     border-bottom: 5px solid orange;
     width: 30px;

}
.flex{
    display: flex;
    gap: 200px;
}
.flx{
 display: flex;
 gap: 200px;
 border-bottom: 2px solid black;
}
.fr{
    border-bottom: 5px solid orange;
    width: 30px;
}
.br{
   border-right: 2px solid #000;
   margin-right: 1009px;
}
.txt {
    font-size: 17px;
}
