body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  max-width: 1000px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  gap: 20px;
}
.ss {
  border-bottom: 5px solid black;
  width: 34px;
}
.container {
  width: 280px;
  padding: 20px;
  border: 3px solid #e78d2d;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.img img {
  width: 250px;
  height: auto;
}

.text h1 {
  font-size: 25px;
  color: #332f30;
  line-height: 39px;
  margin: 10px 0 5px 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.text b {
  font-size: 30px;
}
.as {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.icons {
  width: 430px;
  font-family: Arial, Helvetica, sans-serif;
}
.icon {
  display: flex;
  align-items: center;
}
.icon .bx {
  width: 50px;
  height: 50px;
  background: #e68a1f;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.icon p {
  background: #332f30;
  color: #fff;
  padding: 18px 20px;
  font-size: 18px;
  width: 170px;
  height: 15px;
}

.pp {
  margin: 10px 0;
  font-size: 14px;
  border-bottom: 2px solid black;
}

.skills {
  width: 300px;
  font-family: Arial, sans-serif;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  margin-right: 25px;
}

.skill span {
  font-size: 15px;
  width: 115px;
  display: block;
}

.bar {
  height: 10px;
  background: #2f2f2f;
  flex: 1;
  position: relative;
  border-radius: 2px;
}

.fill {
  background: #e68a1f;
  height: 100%;
  border-radius: 2px 0 0 2px;
}

.container2 {
  flex: 1;
  padding: 20px;
}

.scnd {
  font-size: 26px;
  margin-bottom: 10px;
  border-bottom: 5px solid #e78d2d;
  width: 30px;
}
p {
  text-align: justify;
}
.third {
  font-size: 26px;
  border-bottom: 5px solid #e78d2d;
  width: 30px;
}
.flex {
  display: flex;
  gap: 200px;
}
.flex1 {
  display: flex;
  gap: 200px;
  border-bottom: 2px solid black;
  width: 620px;
  gap: 20px;
}
.flx {
  display: flex;
  gap: 200px;
  border-bottom: 2px solid black;
  width: 620px;
}
.fr {
  border-bottom: 5px solid #e78d2d;
  width: 30px;
}
.br {
  border-right: 2px solid #000;
  margin-right: 1009px;
}
.txt {
  font-size: 17px;
  font-family: Arial sans-serif;
}
